<head>
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<style>
body { 
	background-image: url("http://www.travelstart.co.za/blog/wp-content/uploads/2013/11/Greg-Lumley.jpg") ;
	background-size: cover;
	text-align: center;
}
h1 {
	 font-size: 55px;
     font-family: 'Lato', sans-serif;
     font-weight: 100;
     color: white;
}
h2 {
	  font-family: 'Lato', sans-serif;
      font-weight: 400;
	  font-size: 35px;
	  color: white;
}
h3 {
	  font-family: cursive;
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
a {
		font-family: 'Lato', sans-serif;
      font-weight: 400;
	  font-size: 35px;
	  color: white;
	      text-decoration: none;

}
li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	font-size: 40px;
     font-family: 'Lato', sans-serif;
     font-weight: 100;
     color: white;
}
div { 
	height: auto;
	background: #B0C4DE;
	background-size: cover;
	margin: 40px 0 0 0; 
	border-radius: 20px;
	opacity: .75;
	font-size: 30px;
}
</style>
	
<body> 
<h1> Welcome to Cape Town<h1> 
<h2> A Brief Guide </h2>
<br>
<br>
<br> 
<br>
<div> 
<h3>"This cape is the most stately thing and the fairest cape we saw in the whole circumference of the earth" -Sir Francis Drake, 1580</h3>
</div>
<br>

<br>
<br>
<br> 
<br>
<br>
<a href="/places">Attractions</a>
</body>