<style>

body {
	position: center;

}

h1 {
	font-family: 'Lato', sans-serif;

}



img {
	 height: 280px;
      width:345px;
}
	
</style>

<h1> <%= @name %> </h1>

<body> 

<img src="<%= @image_url %>"> 
<a href="<%= @map_url %>">Link</a>
<p><%= @description %></p>

</body>