<h1> How to use this calculator </h2>

<p> To add two numbers x and y, type in http://localhost:9393/add/x/y into your address bar </p>
<p> To multiply two numbers x and y, type in http://localhost:9393/multiply/x/y into your address bar </p>
<p> To subtract y from x, type in http://localhost:9393/subtract/x/y into your address bar </p>
<p> To divide x with y, type in http://localhost:9393/add/x/y into your address bar </p>
<p> To calculate x to the power of y, type in http://localhost:9393/exponent/x/y into your address bar </p>