<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/contact">Contact</a></li>
</ul>

<img src="http://i.imgur.com/zSuxVbi.jpg" height=500px width= 500px>

<h1> More about me: </h1>
<p>I grew up in Washington DC but, since my parents immigrated from France right before I was born, I grew up speaking French at home and I attended a French International School. </p>
<p> Now, I live in Philadlephia, studying Neuroscience at the University of Pennsylvania. I am a rising senior, and I am not sure what I would like to do when I graduate. </p>