<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/contact">Contact</a></li>
</ul>

<h1> Contact me at: </h1>

<ul>
	<li>Email: sarah.besnainou@gmail.com</li>
	<li>Address: 3946 Delancey St, Philadelphia PA</li>
	<li><a href="https://www.facebook.com/sarah.m.besnainou"> Facebook </a></li>
<ul>