<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/contact">Contact</a></li>
</ul>

<img src="http://www.imageno.com/thumbs/20150617/oqogoexeu5zx.jpg">

<h1>Sarah Besnainou</h1>
<p>Hey guys, welcome to my website ! My name is Sarah. I am a rising senior at the University of Pennsylvania, and I study Neuroscience.</p>
<p>Thanks for coming!</p>

<a href="/about"> More... </a>