<div class="comments">
	<p>
	  <strong>Bru:</strong>
	  <%= comment.bru %>
	</p>
	 
	<p>
	  <strong>Comment:</strong>
	  <%= comment.comment %>
	</p>
</div>
<p>
  <%= link_to 'Destroy Comment', [comment.treasure, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>